:root {
    --White: hsl(0, 0%, 100%);

    --Stone-100: hsl(30, 54%, 90%);
    --Stone-150: hsl(30, 18%, 87%);
    --Stone-600: hsl(30, 10%, 34%);
    --Stone-900: hsl(24, 5%, 18%);
    --Brown-800: hsl(14, 45%, 36%);
    --Rose-50: hsl(330, 100%, 98%);
    --Rose-800: hsl(332, 51%, 32%);
    
}
@font-face {
    font-family: "Young Serif";
    src: url(/assets/fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "Outfit";
    src: url(/assets/fonts/outfit/Outfit-VariableFont_wght.ttf);
}

body{
    margin: 0;
    color: var(--Stone-900);
    background-color: var(--Stone-100);
    padding: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Outfit", san-serif;
    font-weight: 100;
    font-size: 12px;
}

#recipe-card {
    background-color: var(--White);
    width: 33.3vw;
    padding: 25px;
     display: flex;
    flex-direction: column;
    align-content: center;
    border-radius: 12px;
}

#main-img {
    border-radius: 12px;
}

#recipe-info {
    padding: 1rem 0;
}

#main-title {
    color: var(--Stone-900);
    font-family: "Young Serif", serif;
    font-size: 28px;
    font-weight: 100;
}

#description {
    font-weight: 200;
}

#preparation-section{
    background-color: var(--Rose-50);
    color: var(--Stone-600);
    padding: 10px 20px;
    border-radius: 12px;
    font-family: "Outfit", sans-serif;
}

#ingredients-section, #instructions-section {
     border-bottom: 1px solid var(--Stone-150);
     margin-bottom: 16px;
}

#prep-title {
    color: var(--Rose-800);
    font-weight: 600;
}

.subtitle {
    color: var(--Brown-800);
    font-family: "Young Serif", serif;
    font-size: 28px;
    font-weight: 100;
}

ul, ol{
    margin: 0 0 20px 0;
    padding: 0 100px 0 20px;
}

li::marker {
    color: var(--Brown-800);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}


table {
    border-collapse: collapse;
    width: 100%;
}

th {
    font-weight: 300;
    color: var(--Stone-600);
    padding-left: 12px;
}

td {
    padding-left: 3rem;
    font-weight: 600;
    color: var(--Brown-800);
}

th, td {
    padding: 8px 8px 8px 20px;
    box-sizing: border-box;
    text-align: left;
    font-size: 12px;

}

tr:not(:last-child) {
     border-bottom: 1px solid var(--Stone-150);
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 768px) {
    body {
        padding: 56px 16px;
    }

    #recipe-card {
        max-width: 736px;
        width: 100%;
        margin: 0 auto;
        padding: 36px;
        border-radius: 24px;
    }

    #main-img {
        width: 100%;
        border-radius: 16px;
        margin-bottom: 24px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 16px;
    }

    #recipe-card {
        width: 100%;
        border-radius: 0;
        padding: 25px;
    }

    #main-title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 22px;
    }
}